body {
    /* background-color: #5C8D71; */
    font-family: newfont;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.gradient {
    background-image: url("./DickBackground.png");
    background-repeat: repeat;
}

@font-face {
    font-family: newfont;
    src: url(/newfont.ttf);
}

html {
    height: 100%;
}